*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: auto;
}
footer{
width: 100%;
height: 7vh;
background: burlywood;
text-align: center;
position: fixed;
bottom: 0;
}

footer p{
    padding-top: 20px;
    color: lightslategray;
}

.nav{
    width: 100;
    height: 7vh;
    background-color: burlywood;
}

#logo h1{
    font-size: 20px;
    text-align: left;
    float: left;
    margin-top: 10px;
    padding-left: 10px;
}

.nav-right{
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    padding-right:5px ;
}

.nav-right ul li{
    text-decoration: none;
    display: inline-flex;
}

.nav-right ul a{
    text-decoration: none;
    color: black;
    padding-right: 10px;

}

.lgn{
    background: burlywood;
    width: 30%;
    border-radius: 20px;
    margin: 30px auto;
    height: auto;
}

.frm input{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.frm input {
    width: 80%;
    height: auto;
    margin-top: 30px;
    outline: none;
    background: transparent;
}

.frm button {
    background: transparent;
    width: 80%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
   margin-left:50px ;
   text-decoration-color: lightslategray;
}

.lgn h1{
    text-align: center;
    color: lightslategrey;
}

.frm  p{
    color: lightslategray;
    margin-left: 53px;
    margin-bottom: 10px;
}

.frm p a{
    text-decoration: double;
}