<%- include("loginHeader"); -%>



<div class="lgn">
    <h1>login here</h1>
    <form action="/login" method="post" class="frm">
        <input type="text" name="email" id="" placeholder="mayoko@gmail.com">
        <input type="password" name="password" id="" placeholder="password*******">
        <button>login</button>
    </form>
</div>


<%- include("footer"); -%>